@model TravelModel

<div class="row">
	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading"><strong>Product List</strong></div>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Name</th>
						<th>ProductNumber</th>
						<th>Available</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.Products)
					{
						<tr>
							<td><a href="/home/detail/@item.ProductNumber">@item.Name</a></td>
							<td>@item.ProductNumber</td>
							<td>@item.Available</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>

	<div class="col-md-6">
		<div class="panel panel-default">
			<div class="panel-heading"><strong>Booking List</strong></div>
			<table class="table table-striped table-bordered">
				<thead>
					<tr>
						<th>Order ID</th>
						<td>Status</td>
						<td>Email</td>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.Bookings)
					{
						<tr>
							<td><a href="/home/booking/@item.OrderId">@item.OrderId</a></td>
							<td>@item.Status</td>
							<td>@item.Customer.Email</td>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>

</div>


